.layout-passport {
  height: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;

  &__content {
    flex: auto;
    background: rgb(56,47,209);
    background: linear-gradient(90deg, rgba(8,227,5,1) 0%, rgba(8,173,191,1) 50%, rgba(39,8,205,1) 100%);

    > div {
        height: 100%;
    }
  }
}
